.sign-in-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px;

  &__errors {
    word-break: break-word;
    font-size: 0.8rem;
  }

  h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  input {
    width: 70%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
  }
  input[type="submit"] {
    text-align: center;
    background: #03a9f4;
    border: none;
    color: #fff;
    max-width: 100px;
    cursor: pointer;
  }
  .forgot {
    color: #333;
  }
}
