@use "../../../styles/breakpoints";

.toggle-theme-switch {
  @media screen and (max-width: breakpoints.$max-tablet-width) {
    transform: scale(0.8);
  }
  @media screen and (max-width: breakpoints.$max-phone-width) {
    transform: scale(0.75);
  }
  position: relative;
  width: 85px;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  text-align: left;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
    margin: 0;
  }
  &-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    &:before,
    &:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 14px;
      // color: white;
      font-weight: bold;
      box-sizing: border-box;
    }
    &:before {
      content: attr(data-yes);
      @media screen and (max-width: breakpoints.$max-tablet-width) {
        content: "";
      }
      text-transform: uppercase;
      padding-left: 10px;
      background-color: #f90;
      color: #000000;
    }
  }
  &-disabled {
    background-color: #ddd;
    cursor: not-allowed;
    &:before {
      background-color: #ddd;
      cursor: not-allowed;
    }
  }
  &-inner:after {
    content: attr(data-no);
    // color: #000000;
    @media screen and (max-width: breakpoints.$max-tablet-width) {
      content: "";
    }
    text-transform: uppercase;
    padding-right: 10px;
    background-color: #bbb;
    // color: #fff;
    text-align: right;
  }
  &-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    margin: 5px;
    background: #ffffff;
    color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  &-checkbox:checked + &-label {
    .toggle-theme-switch-inner {
      margin-left: 0;
    }
    .toggle-theme-switch-switch {
      right: 0px;
    }
  }
}
