.home {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  height: 100%;

  .home__wrapper {
    width: 200%;
    height: 200%;

    display: flex;
    flex-direction: column;
    flex: none;
    position: relative;
  }
  .home__top,
  .home__bottom {
    display: flex;
    flex-direction: row;
    flex: none;
    justify-content: center;
    align-items: center;
    // width: 200vw;
    // height: 100vh;

    .home__banner,
    .home__account-dashboard,
    .home__game-creator,
    .home__about {
      position: relative;
      display: flex;
      flex: none;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }
  }
}

@media only screen and (hover: none) and (pointer: coarse) {
  .home {
    overflow-y: auto;
    .home__wrapper {
      width: 100%;
      height: 400%;
      .home__top,
      .home__bottom {
        flex-direction: column;
        height: 200vh;
        width: 100%;
      }
    }
  }
}
