@use "../../../../shared/styles/mixins.scss";

.sudoku-toolset {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: dashed 1px;
  border-radius: 50%;

  @include mixins.flex-column-center;

  &__center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    font-size: 25px;
    z-index: 100;
    .icon-center {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__item {
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin: -2em;
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;

    box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 220, 0.3) 0%,
      transparent 100%
    );

    &:hover {
      box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 40px #f0f,
        /* inner left magenta short */ inset -20px 0 40px #0ff,
        /* inner right cyan short */ inset 20px 0 150px #f0f,
        /* inner left magenta broad */ inset -20px 0 150px #0ff,
        /* inner right cyan broad */ 0 0 25px #fff,
        /* outer white */ -10px 0 40px #f0f,
        /* outer left magenta */ 10px 0 40px #0ff; /* outer right cyan */
    }
    &--closed {
      opacity: 0;
    }
    .icon-border {
      width: 100%;
    }
  }
}

$circle-radius: 60px;

.deg0 {
  transform: translate($circle-radius);
}
.deg45 {
  transform: rotate(45deg) translate($circle-radius) rotate(-45deg);
}
.deg60 {
  transform: rotate(60deg) translate($circle-radius) rotate(-60deg);
}
.deg90 {
  transform: rotate(90deg) translate($circle-radius) rotate(-90deg);
}
.deg120 {
  transform: rotate(120deg) translate($circle-radius) rotate(-120deg);
}
.deg135 {
  transform: rotate(135deg) translate($circle-radius) rotate(-135deg);
}
.deg180 {
  transform: translate(-60px);
}
.deg225 {
  transform: rotate(225deg) translate($circle-radius) rotate(-225deg);
}
.deg240 {
  transform: rotate(240deg) translate($circle-radius) rotate(-240deg);
}
.deg300 {
  transform: rotate(300deg) translate($circle-radius) rotate(-300deg);
}
.deg315 {
  transform: rotate(315deg) translate($circle-radius) rotate(-315deg);
}
