$max-desktop-width: 1200px;
$max-laptop-width: 1024px;
$max-tablet-width: 768px;
$max-phone-width: 480px;

$min-desktop-width: 1025px;
$min-laptop-width: 769px;
$min-tablet-width: 481px;
$min-phone-width: 320px;
